*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 221);
}

header{
    display: flex;
    align-items: center;
    flex-wrap: 1;
    background-color: rgb(2, 73, 2);
    padding: 0.3em 0.3em;
    font-family: sans-serif;
    color: white;
}
h1{
    margin-left: 2em;
    outline: none;
    cursor: pointer;
}
#searchbar{
    font-size: 1em;
    margin-left: 10em;
    padding: 1em 2em;
    width: 25%;
    outline: none;
}
#blue-text{
    color: rgb(0, 160, 175);
}

.container{
    width: 90%;
    margin: 5em auto;
}
#new-book-button{
    display:flex;
    align-items: center;
    padding: 1em 1em;
    border: 10px solid rgba(0,0,0,0.5);
    border-radius: 40px;
    width: 15em;
    height: 20em;
    color:rgba(0,0,0,0.5);
    cursor: pointer;

}
#new-book-button > p {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}